doctype html
html
    head
        title=title
        link(rel='stylesheet', href='styles.css')
    style.
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0px;
        }

        input[type=text] 
        {
            color: rgb(77, 0, 153);
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        input[type=submit] {
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(77, 0, 153); /* UNI Purple */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        form {
        text-align: center;
        }

        #website_name {
            color:rgb(230, 230, 0);
            font-size: 60px;
            display: inline-block;
            margin: 10px;
            padding: 20px;
        }

        #title_bg {
            background: rgb(107, 0, 179);
            display: inline-block;
            margin: 0px;
            padding: 0px;
            width: 100%;
        }
        #send {
            background-color: rgb(77, 0, 153); /* UNI Purple */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        #main_text {
            text-align: center;
            font-size: 50px;
        }

        img {
        padding-top: 20px;
        }

    body
        #title_bg
            h1#website_name="PANTHER PLOTS"
            img(src='/images/lawn_mower.png' width='200' height='100')
        block whatever